div {
  font-family: 'Assistant', sans-serif;
}
h1 {
  font-family: 'Assistant', sans-serif;
}
.active {
  border: 1px solid gray;
  border-radius: 3px;
}
.img-wrapper {
  width: 200px;
}
.variant-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}
.main-image {
  margin: 30px;
}
.images-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
